.shopCreate__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
  margin: 1rem auto;
}
.shopCreate__cardActions {
  justify-content: flex-end;
}
.shopCreate__cardActions button {
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.shopCreate__cardHeader {
  margin-top: 1rem !important;
}
