.dashboard {
  display: flex;
  padding-right: 20px;
}
.dashboard__tools {
  flex: 1;
}
.dashboard__content {
  flex: 4;
  padding: 20px;
}
.dashboard__contentItem {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .dashboard__content {
    padding-right: 0px;
  }
}
