.dashboardContainer {
  background: linear-gradient(90deg, #fbfbff 50%, white 50%);
}

.dashboard__right {
  margin-top: 1rem !important;
  background-color: white;
}
.dashboard__rightCards {
  width: 100%;
}

.dashboard__rightContent {
  width: 100%;
  margin: 2rem 0;
}
