.dashboard__cardsContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.dashboard__card {
  border-radius: 5px !important;
  cursor: pointer;

  width: 30%;
  border: 2px solid white;
}

.dashboard__cardTitle {
  display: flex;
  align-items: center;
  color: #7a7a8f;
}

.dashboard__cardInfo {
  display: flex;
  align-items: center;
}
.dashboard__cardInfo p {
  margin-left: 1rem;
}
.dashboard__cardFooter {
  color: #7a7a8f;
}
.dashboard__card.inventory .dashboard__cardInfo {
  color: #1976d2;
}

.dashboard__card.inventory.active {
  border-color: #1976d2;
}

.dashboard__card.sales .dashboard__cardInfo {
  color: #f50057;
}
.dashboard__card.sales.active {
  border-color: #f50057;
}
.dashboard__card.reports .dashboard__cardInfo {
  color: #f57c00;
}
.dashboard__card.reports.active {
  /* background-color: #fff3e0; */
  border-color: #f57c00;
}
/* 
@media (max-width: 990px) {
  .dashboard__cardsContainer {
    flex-direction: column;
    justify-content: center;
  }
  .dashboard__card {
    margin-bottom: 1rem;
    width: 100% !important;
  }
}

@media (max-width: 1109px) {
  .dashboard__card {
    width: 15rem;
  }
} */
