.shop {
  padding: 1rem;
}
.shop__container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.shop__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
  height: auto;
  width: 100%;
  margin-top: 1rem;
}
.shop__cardActions button {
  text-transform: capitalize;
}
