.navbar {
  background-color: #343a40;
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  display: flex;
  align-items: center;
}
.navbar__menuIcon {
  margin-right: 12px;
  color: white;
  cursor: pointer;
}

.navbar__rightBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 996px) {
  .navbar {
    flex-wrap: wrap;
  }
}

.loginBtn {
  background-color: #28a745 !important;
  color: white !important;
  text-transform: capitalize !important;
}
